.setting-value {
  display: flex;

  span {
    flex-shrink: 0;
  }

  a {
    overflow: hidden;
    margin-left: 10px;

    span {
      white-space: nowrap;
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
    }
  }

  .mdc-switch {
    margin-left: 10px;
  }
}
