@use "@material/icon-button/mixins"as icon-button-mixins;

filter {
  >.filter__collection {
    overflow: visible;
    margin: 0 15px;

    >.filter-line {
      display: flex;
      align-items: center;
      padding-top: 5px;
      padding-bottom: 0;

      >.filter-line__operator {
        width: var(--aurelia-toolkit--filter-operator-width, 130px);
        margin-left: 10px;
        margin-right: 10px;
      }

      >.filter-line__value {
        flex: 1;

        .mdc-text-field {
          width: 100%;
        }

        .mdc-select__anchor {
          width: auto;
        }
      }

      >.mdc-icon-button {
        @include icon-button-mixins.density(-3);
      }
    }
  }
}
